body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: auto;
    max-width: 38rem;
    padding: 2rem;
}
#content{
    left: 180px;
}
#navbar{
    position: fixed;
    top: 0;
    left: -182px;
    width: 180px;
    height: 100%;
    color: white;
    background-color: #073b4c;
    border-right: 2px solid black;
    transition: all 600ms linear;
}
#navbar.active{
    left: 0px;
}
h3{
    margin-block-start: .5em;
    margin-block-end: 0;
    margin-bottom: .5em;
    font-size: 1.28em;
    font-weight: normal;
    padding-left: 10px;
}
#navbar ul{
    list-style-type: none;
    left: 0;
    padding-inline-start: 0;
    margin-block-start: 0;
    border-top: 1px solid grey;
}
#navbar ul li{
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid grey;
}
.navbar__item{
    color: white;
    text-decoration: none;
}
#navbar .toggle_button{
    position: absolute;
    left: 200px;
    top: 20px;
}
#navbar .toggle_button span{
    display: block;
    width: 25px;
    height: 4px;
    margin: 3px 0px;
    background-color: #073b4c;
}
